.backimg {
	background: url("./notes.jpg");
	height: 93.7vh;
	width: 100%;
    background-size: cover;

}

.backimg2 {
	background: url("./notes2.jpg");
	height: 100.7vh;
	width: 100%;
    background-size: cover;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar .nav-item:hover .nav-link {
	background: white;
	color: black;
	border-radius: 10px;
}
